.logo {
    display: inline-block;
    
    background-color: $primary-color;
    
    border-radius: 0 0 5px 5px;
    
    line-height: 0;
    text-align: center;
    font-family: Domine, 'Times New Roman', serif;
    font-weight: bold;

    font-size: 1.25rem;
    color: #fff;

    transform: translateY(-2rem);

    &:hover, &:focus {
        transform: translateY(0);
    }


    transition: transform 1s;
    
    a {
        display: block;
        padding-top: 5rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

        font-size: inherit;
        letter-spacing: 1.2px;
    }
}