.logo {
    // position: absolute;
    // top: 0; 
    // left: 0; 
    // margin-top: -2rem;
    display: inline-block;
    
    background-color: $primary-color;
    
    border-radius: 0 0 5px 5px;
    
    line-height: 0;
    text-align: center;
    font-family: Domine, 'Times New Roman', serif;
    font-weight: bold;

    font-size: 1.25rem;
    color: #fff;

    // animation: logo-animate 1s ease-in-out 1 alternate both paused;
    transform: translateY(-2rem);

    &:hover, &:focus {
        transform: translateY(0);
    }


    transition: transform 1s;
    
    a {
        display: block;
        padding-top: 5rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

        font-size: inherit;
        letter-spacing: 1.2px;
    }

    // &:hover, &:focus {
    //     background-color: #fff;
    //     color: $font-color-primary;

    //     &-repaint {
    //         color: $primary-color;
    //     }
    // }
}



// @keyframes logo-animate {
//     from {
//         transform: translateY(-2rem);
//     }
//     to {
//         transform: translateY(0);
//         animation-play-state: paused;
//     }
// }