.promo {
    height: 1048px;
    margin-bottom: 86px;

    background-color: #ccc;
    background-image: url('../img/promo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center top;

    &__title + &__subtitle {
        margin-top: 17px;
    }

    &__title {
        display: block;
        font-size: 3.2rem;
        line-height: 3.53rem;
        width: 540px;
        padding-top: 370px;
    }

    &__subtitle {
        display: block;        
        margin-top: 13px;
        margin-bottom: 31px;

        font-size: 1.33rem;
        line-height: 2.67rem;
        color: $font-color-primary;
    }
}
